:root{
    --light-green: rgba(73, 236, 173, 0.8);
    --medium-green: rgba(36, 201, 63, 0.8);
    --dark-green: rgb(13, 56, 17);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--dark-green);
    padding: 30px;
}

.header{
    background-image: linear-gradient(to right bottom, var(--light-green), var(--medium-green)) ,url(../img/forest.jpg);
    background-size: cover;
    height: 95vh;
    display: block;
    clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 90%);
}

.main{
    position: absolute;
    top: 275px;
    left: 38%;
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    animation-name: MoveInLeft;
    animation-duration: 3s;
}

.transition{
    position: absolute;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    text-decoration: none;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    top: 400px;
    left: 29.795%;
    animation-name: MoveInLeft;
    animation-duration: 9s;
    transition-duration: 0.5s;
    transition-property: all;
}

.keyframes{
    position: absolute;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    text-decoration: none;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    top: 400px;
    left: 45.5%;
    animation-name: MoveInLeft;
    animation-duration: 6s;
    transition-duration: 0.5s;
    transition-property: all;
}

.landing{
    position: absolute;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
    text-decoration: none;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    top: 400px;
    left: 60.5%;
    animation-name: MoveInLeft;
    animation-duration: 4s;
    transition-duration: 0.5s;
    transition-property: all;
}

.keyframes:hover, .landing:hover, .transition:hover{
    border: 5px solid var(--dark-green);
    color: var(--dark-green);
}

@keyframes MoveInLeft{
    0%{opacity: 0; transform: translateX(-100px)}
    100%{opacity: 1; transform: translateX(0)}
}



.logo {
    position: absolute;
    top: 26.3%;
    left: 50%;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    animation-name: MoveInLeft;
    animation-duration: 3s;
}