body{
    background-color: #333;
}

.box{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    margin: auto;
    position: relative;
    top: 300px;
    transition-duration: 0.5s;
    transition-property: all;
}

.box:hover{
    background-color:   red;
    border-radius: 200px;
    transform: rotateX(180deg);
    /*transform: scale(2);*/
}